<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>LoginApplication</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
<!--   <listener>
        <listener-class>com.bridgelabz.services.MyHttpListener</listener-class>
    </listener> -->
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>com.bridgelabz.services.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/logservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>registration</servlet-name>
    <servlet-class>com.bridgelabz.services.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registration</servlet-name>
    <url-pattern>/regservlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>logoutservlet</servlet-name>
    <servlet-class>com.bridgelabz.services.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutservlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>RegisterFilter</filter-name>
    <filter-class>com.bridgelabz.services.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>RegisterFilter</filter-name>
    <url-pattern>/regservlet</url-pattern>
  </filter-mapping>
</web-app>